@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../node_modules/@syncfusion/ej2-base/styles/tailwind.css";
@import "../../node_modules/@syncfusion/ej2-react-inputs/styles/tailwind.css";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	max-width: 1000px;
	margin: auto;
}

.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input,
.e-input-group textarea.e-input,
.e-input-group.e-control-wrapper textarea.e-input {
	text-align: right;
	width: 200px;
	margin-right: 30px;
}
